<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/new">

        <label for="name">name: </label>
        <input type="text" id="name" name="name">
        <br>
        <label for="message">message: </label>
        <input type="text" id="message" name="message">
        <br>
        <button type="submit"> submit</button>
    </form>

<a href="/"> back to home</a>

</body>

</html>